@import './../lib/style/normilize.scss';

@font-face {
    font-family: 'TT Interfaces';
    src: local('TT Interfaces Regular'), local('TT-Interfaces-Regular'),
        url('../fonts/TTInterfaces-Regular.woff2') format('woff2'),
        url('../fonts/TTInterfaces-Regular.woff') format('woff'),
        url('../fonts/TTInterfaces-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: local('TT Interfaces Semi Bold'), local('TT-Interfaces-Semi-Bold'),
        url('../fonts/TTInterfaces-SemiBold.woff2') format('woff2'),
        url('../fonts/TTInterfaces-SemiBold.woff') format('woff'),
        url('../fonts/TTInterfaces-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

#cursor {
    position: absolute;
    border-radius: 50%;
    transition: .5s cubic-bezier(.75,-1.27,.3,2.33) transform, .2s cubic-bezier(.75,-1.27,.3,2.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 1000;
    width: 16px;
    height: 16px;
    background: #3072EC;
    transform: scale(1.0);
}


#cursor.hidden, #cursor.hiddenB {
    transform: scale(0.001);
}

#cursor.active, #cursor.activeB {
    transform: scale(2.0);
}

.magnetic {
    margin: -50px;
    padding: 50px;
    display: inline-block;
    border-radius: 50%;
    /*border: 1px solid #000; //use this for debugging*/
}

.magnetic-big {
    margin: -100px;
    padding: 100px;
}

.circle-btn {
    text-align: center;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    transition: .3s;
}

.btn-text {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.ripple1 {
    width: 450px;
    height: 450px;
    position: absolute;
    border-radius: 50%;
    background: #3072EC;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animateEnter .5s ease-out;
    z-index: 1;
}

.ripple2 {
    width: 450px;
    height: 450px;
    position: absolute;
    border-radius: 50%;
    background: #3072EC;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animateOut .5s ease-out;
    z-index: 1;
}

@keyframes animateEnter {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 450px;
        height: 450px;
    }
}

@keyframes animateOut {
    0% {
        width: 450px;
        height: 450px;
    }
    100% {
        width: 0px;
        height: 0px;
    }
}


* {
    cursor: none;
}

body {
    background-color: #1F1F1F;
    overflow-x: hidden;
}

section {
    width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.noize {
    background: url(../img/noise_bg.png);
    mix-blend-mode: overlay;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-size: contain;
    background-repeat: repeat;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

header {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
}

.header-left a {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    position: relative;
    z-index: 1001;
}

.header-right ul {
    display: flex;

    li {
        margin-right: 50px;
        transition: .3s;
    }

    a {
        position: relative;
        z-index: 1001;
        white-space: nowrap;
    }
}

.header-right ul li:nth-child(5) {
    margin-right: 0;
    margin-left: auto;
}

.burger, .mobile-nav {
    display: none;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.first-section-wrapper {
    min-height: 100vh;
    
    .section-first {
        position: relative;
        margin-top: 30vh;
    }

    .lines-up, .lines-down {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .line {
        background: #FFFFFF;
        height: 1px;
        width: 100%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    h1 {
        position: relative;
        font-weight: 600;
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1500 - 320)));
        line-height: 100%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 60px 0;
        white-space: nowrap;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;

        li {
            font-weight: 400;
            font-size: 15px;
            line-height: 140%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

.first-section-wrapper--bottom {
    margin-top: 15vh;
    .first-bottom {
        margin-left: 50%;
        display: flex;
        justify-content: space-between;
    }

    h2 {
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    p {
        max-width: 320px;
    }

}



//hd 1200-1440 -- 1160

@media screen and (max-width: 1500px) {
    section {
        width: 1180px;
    }
    
}

//tablet 640-1200 -- 620

@media screen and (max-width: 1200px) {
    #cursor {
        display: none;
    }
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1700 - 320)));
        margin: 40px 0;
    }
    .first-section-wrapper--bottom .first-bottom {
        display: block;

        .first-bottom-l {
            margin-bottom: 60px;
        }
    }
    .magnetic {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    
    section {
        width: 100%;
        padding: 0 80px;
    }
    .header-right {
        display: block;
        position: absolute;
        background: #1F1F1F;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2000;
        height: 100vh;
        padding: 15vh 80px 0;
        transform: translateY(-100vh);
        transition: 0.26s;

        nav {
            transition: 0.9s;
            transform: translateY(-30vh);
            opacity: 0;
        }

        nav.active {
            transform: translateY(0vh);
            opacity: 1;
        }

        i.close {
            display: none;
        }
    }
    .mobile-nav {
        position: relative;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        margin-top: 80px;
        transition: .8s;
        transform: translateY(-70px);
        opacity: 0;

    }
    .mobile-nav.active {
        transform: translateY(0vh);
        opacity: 1;
    }
    .header-right.active {
        transform: translateY(0vh);
    }
    header {
        display: block;
        padding: 40px 0;
    }

    .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger {
        display: block;
    }

    .burger > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 1001;
        width: 24px;
        height: 11px;

        .line {
            background: #FFFFFF;
            height: 2px;
            width: 100%;
        }
    }
    .header-right {
        i.close {
            display: block;
            position: absolute;
            top: 5vh;
            right: 80px;
            width: 24px;
            height: 24px;
            background-size: 24px;
            background-image: url(../img/close.svg);
        }
    }

    .header-right ul li {
        margin: 0 !important;
    }
    .header-right ul {
        flex-direction: column;

        li {
            border-bottom: 1px solid #FFFFFF;
        }
        a {
            padding: 20px 0;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1800 - 320)));
    }
}

@media screen and (max-width: 850px) {
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1900 - 320)));
    }
    .first-section-wrapper--bottom h2 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
    .first-section-wrapper--bottom .first-bottom .first-bottom-l {
        margin-bottom: 40px;
    }
    .first-section-wrapper .section-first {
        margin-top: 25vh;
    }
    .first-section-wrapper--bottom {
        margin-top: 10vh;
    }
}
@media screen and (max-width: 790px) {
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1950 - 320)));
    }
}

@media screen and (max-width: 750px) {
    section {
        padding: 0 30px;
    }
    .header-right {
        padding: 15vh 30px 0;

        i.close {
            right: 30px;
        }
    }
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1600 - 320)));
        margin: 20px 0;
    }
    .first-section-wrapper ul li {
        font-size: 10px;
    }
    .first-section-wrapper--bottom .first-bottom {
        margin-left: 0;
    }
    .first-bottom a {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

//mobile до 640 -- 300

@media screen and (max-width: 640px) {
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1800 - 320)));
    }
}

@media screen and (max-width: 500px) {
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (2000 - 320)));
    }
}

@media screen and (max-width: 450px) {
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (3000 - 320)));
    }
}

@media screen and (max-width: 400px) {
    .first-section-wrapper h1 {
        font-size: 42px
    }
}

@media screen and (max-width: 370px) {
    .first-section-wrapper h1 {
        font-size: 40px
    }
}

@media screen and (max-width: 360px) {
    .first-section-wrapper h1 {
        font-size: 38px
    }
}

@media screen and (max-width: 350px) {
    .first-section-wrapper h1 {
        font-size: 36px
    }
}