@import './../lib/style/normilize.scss';

@font-face {
    font-family: 'TT Interfaces';
    src: local('TT Interfaces Regular'), local('TT-Interfaces-Regular'),
        url('../fonts/TTInterfaces-Regular.woff2') format('woff2'),
        url('../fonts/TTInterfaces-Regular.woff') format('woff'),
        url('../fonts/TTInterfaces-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: local('TT Interfaces Semi Bold'), local('TT-Interfaces-Semi-Bold'),
        url('../fonts/TTInterfaces-SemiBold.woff2') format('woff2'),
        url('../fonts/TTInterfaces-SemiBold.woff') format('woff'),
        url('../fonts/TTInterfaces-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

#cursor {
    position: absolute;
    border-radius: 50%;
    transition: .5s cubic-bezier(.75,-1.27,.3,2.33) transform, .2s cubic-bezier(.75,-1.27,.3,2.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 1000;
    width: 16px;
    height: 16px;
    background: #3072EC;
    transform: scale(1.0);

    & > * {
        opacity: 0;
        transition: .4s;
        width: 0;
        height: 0;
        position: absolute;
        background: #3072EC;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        p {
            font-size: 0;
        }
    }
    & > .active {
        width: 160px;
        height: 160px;
        display: flex;
        opacity: 1;
        transform: translate(-80px, -80px);
        
        p {
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}


#cursor.hidden, #cursor.hiddenB {
    transform: scale(0.001);
}

#cursor.active, #cursor.activeB {
    transform: scale(2.0);
}

#cursor.active_noScale {
    transform: scale(1.0) !important;
}

.magnetic {
    margin: -50px;
    padding: 50px;
    display: inline-block;
    border-radius: 50%;
    /*border: 1px solid #000; //use this for debugging*/
}

.magnetic-big {
    margin: -100px;
    padding: 100px;
}

.circle-btn {
    text-align: center;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    transition: .3s;
}

.btn-text {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.ripple1 {
    width: 450px;
    height: 450px;
    position: absolute;
    border-radius: 50%;
    background: #3072EC;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animateEnter .5s ease-out;
    z-index: 1;
}

.ripple2 {
    width: 450px;
    height: 450px;
    position: absolute;
    border-radius: 50%;
    background: #3072EC;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animateOut .5s ease-out;
    z-index: 1;
}

@keyframes animateEnter {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 450px;
        height: 450px;
    }
}

@keyframes animateOut {
    0% {
        width: 450px;
        height: 450px;
    }
    100% {
        width: 0px;
        height: 0px;
    }
}


* {
    cursor: none;
}

body {
    overflow-x: hidden;
    background-color: #1F1F1F;
}

section {
    width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.noize {
    background: url(../img/noise_bg.png);
    mix-blend-mode: overlay;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-size: contain;
    background-repeat: repeat;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

header {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
}

.header-left a {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    position: relative;
    z-index: 1001;
}

.header-right ul {
    display: flex;

    li {
        margin-right: 50px;
        transition: .3s;
    }

    a {
        position: relative;
        z-index: 1001;
        white-space: nowrap;
    }
}

.header-right ul li:nth-child(5) {
    margin-right: 0;
    margin-left: auto;
}

.burger, .mobile-nav {
    display: none;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.first-section-wrapper {
    min-height: max-content;
    
    .section-first {
        position: relative;
        margin-top: 30vh;
    }

    .lines-up, .lines-down {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .line {
        background: #FFFFFF;
        height: 1px;
        width: 100%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    h1 {
        position: relative;
        font-weight: 600;
        font-size: 178px;
        line-height: 100%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 60px 0;
        white-space: nowrap;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;

        li {
            font-weight: 400;
            font-size: 15px;
            line-height: 140%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

.first-section-wrapper--bottom {
    margin-top: 15vh;
    .first-bottom {
        margin-left: 50%;
        display: flex;
        justify-content: space-between;
    }

    h2 {
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    p {
        max-width: 320px;
    }

}

.section-wrapper {
    padding-top: 160px;
}

.wrapper-head {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 60px;

    h2 {
        font-weight: 400;
        font-size: 52px;
        line-height: 140%;
        color: #FFFFFF;

    }
}

.article-item--images {
    background-color: #353535;
    height: 335px;
}

.article-item--info {
    h3 {
        margin: 20px 0 8px;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #FFFFFF;
    }
    span {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #FFFFFF;
        opacity: 0.2;
    }
}

.wrapper-body .item {
    min-width: 337px;
}

.wrapper-body_top {
    display: flex;

    .item:nth-child(2) {
        margin: 0 20px 0 auto;
    }
}

.wrapper-body_bottom {
    margin-top: 100px;
    display: flex;

    .item:nth-child(1) {
        min-width: 690px;
        margin-right: 20px;

        .article-item--images {
            height: 460px;
        }
    }

    .item-last {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}
.service_head {
    margin: 0;
}
.service {
    width: 50%;
    margin-left: auto;

    article {
        border-bottom: 1px solid #FFFFFF;

        a {
            padding: 40px 0;
            display: flex;
            align-items: center;
        }

        h3 {
            width: 313px;
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            color: #FFFFFF;

        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #FFFFFF;
        }

        p:last-child {
            margin-left: auto;
        }
    }

    .btn_wrapper {
        width: 100%;
        margin-top: 60px;
        text-align: center;
    }
}

.process_head {
    margin-bottom: 0;
}

.process_body {
    width: 50%;
    margin-left: auto;

    & > p {
        margin: 40px 0 60px;
    }
}

details {
    border-bottom: 1px solid white;
    padding: 40px 0;

    & > p {
        padding-top: 20px;
        max-width: 320px;
    }
}

details[open] summary ~ *{ 
    animation: sweep .5s ease-in-out;
  }
  @keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
  }

.details-wrapper {
    border-top: 1px solid white;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::-webkit-details-marker { display: none; }
    &::-moz-list-bullet { list-style-type: none; }

    h3 {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #FFFFFF;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: right;
        color: #FFFFFF;
    }
}

.footer {
    position: relative;
    z-index: 10001;
}

.footer-bottom {
    padding: 40px 0;
    border-top: 1px solid white;

    display: flex;
    justify-content: space-between;
}

footer {
    border-top: 1px solid white;

    .footer-info {
        width: 50%;
        margin: 60px 0 60px auto;

        & > div {
            margin: 10px 0 40px;

            a {
                font-weight: 400;
                font-size: 52px;
                line-height: 140%;
                color: #FFFFFF;
                position: relative;
                z-index: 1001;
            }
        }

        ul {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 10001;

            li {
                margin-right: 21px;

                a {
                    position: relative;
                    z-index: 1008;
                }
            }
        }
    }
}

.section-404 {
    position: relative;
    z-index: 1001;
    h1 {
        font-size: 100px !important;
        margin: 0 !important;
    }
}

.section-first_404 {
    display: flex !important;

    p {
        margin: 10px 0 20px;
    }

    a {
        text-decoration: underline;
        font-weight: 600;
    }
}

.section-404_right {
    width: 50%;
    margin-left: auto;
}

//hd 1200-1440 -- 1160

@media screen and (max-width: 1500px) {
    section {
        width: 1180px;
    }
    .article-item--images {
        height: 377px;
    }
    .first-section-wrapper h1 {
        font-size: 151px;
    }
    .wrapper-body {
        .item {
            width: 32%;
        }
    }
    .wrapper-body_top {
        justify-content: space-between;
    
        .item:nth-child(2) {
            margin: 0;
        }
    }
    .wrapper-body_bottom {
        flex-wrap: wrap;

        .item-last {
            width: 100% !important;
            justify-content: center;
            margin-top: 60px;
        }

        .item:nth-child(1) article .article-item--images {
            height: 377px;
        }

        .item:nth-child(2) {
            margin-left: auto;
        }
    }
    .service article h3 {
        width: 270px;
    }
}

//tablet 640-1200 -- 620

@media screen and (max-width: 1200px) {
    #cursor {
        display: none;
    }
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1700 - 320)));
        margin: 40px 0;
    }
    .first-section-wrapper--bottom .first-bottom {
        display: block;

        .first-bottom-l {
            margin-bottom: 60px;
        }
    }
    .magnetic {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    
    section {
        width: 100%;
        padding: 0 80px;
    }
    .header-right {
        display: block;
        position: fixed;
        background: #1F1F1F;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2000;
        height: 100vh;
        padding: 15vh 80px 0;
        transform: translateY(-100vh);
        transition: 0.26s;

        nav {
            transition: 0.9s;
            transform: translateY(-30vh);
            opacity: 0;
        }

        nav.active {
            transform: translateY(0vh);
            opacity: 1;
        }

        i.close {
            display: none;
        }
    }
    .mobile-nav {
        position: relative;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        margin-top: 80px;
        transition: .8s;
        transform: translateY(-70px);
        opacity: 0;

    }
    .mobile-nav.active {
        transform: translateY(0vh);
        opacity: 1;
    }
    .header-right.active {
        transform: translateY(0vh);
    }
    header {
        display: block;
        padding: 40px 0;
    }

    .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger {
        display: block;
    }

    .burger > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 1001;
        width: 24px;
        height: 11px;

        .line {
            background: #FFFFFF;
            height: 2px;
            width: 100%;
        }
    }
    .header-right {
        i.close {
            display: block;
            position: absolute;
            top: 5vh;
            right: 80px;
            width: 24px;
            height: 24px;
            background-size: 24px;
            background-image: url(../img/close.svg);
        }
    }

    .header-right ul li {
        margin: 0 !important;
    }
    .header-right ul {
        flex-direction: column;

        li {
            border-bottom: 1px solid #FFFFFF;
        }
        a {
            padding: 20px 0;
            font-size: 20px;
        }
    }
    .section-wrapper {
        padding-top: 120px;
    }
    .wrapper-body_top {
        flex-wrap: wrap;
    }
    .wrapper-body_top .item:nth-child(1),
    .wrapper-body_top .item:nth-child(2) {
        width: 49%;
        margin-bottom: 40px;
    }
    .wrapper-body_top .item:nth-child(3) {
        width: 100%;
        margin-bottom: 40px;
    }
    .wrapper-body_bottom {
        margin-top: 0;
        justify-content: space-between;

        .item:nth-child(1),
        .item:nth-child(2) {
            min-width: auto;
            width: 49%;
            margin-bottom: 40px;
            margin-right: 0;
        }
    }
    .service {
        width: 100%;
        margin-left: 0;

        article h3 {
            width: 46%;
        }
    }
    .process_body {
        width: 100%;
        margin-left: 0;
    }
    footer .footer-info {
        width: 100% !important;
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 1000px) {
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1800 - 320)));
    }
    .footer-bottom {
        flex-direction: column;
        align-items: center;

        a {
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 850px) {
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1900 - 320)));
    }
    .first-section-wrapper--bottom h2 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
    .first-section-wrapper--bottom .first-bottom .first-bottom-l {
        margin-bottom: 40px;
    }
    .first-section-wrapper .section-first {
        margin-top: 25vh;
    }
    .first-section-wrapper--bottom {
        margin-top: 10vh;
    }
    .article-item--images {
        height: 340px !important;
    }
}
@media screen and (max-width: 790px) {
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1950 - 320)));
    }
    .article-item--images {
        height: 300px !important;
    }
}

@media screen and (max-width: 750px) {
    section {
        padding: 0 30px;
    }
    .header-right {
        padding: 15vh 30px 0;

        i.close {
            right: 30px;
        }
    }
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1600 - 320)));
        margin: 20px 0;
    }
    .first-section-wrapper ul li {
        font-size: 10px;
    }
    .first-section-wrapper--bottom .first-bottom {
        margin-left: 0;
    }
    .first-bottom a {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

//mobile до 640 -- 300

@media screen and (max-width: 640px) {
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (1800 - 320)));
    }
    .article-item--images {
        height: 250px !important;
    }
    .wrapper-head h2 {
        font-size: 32px;
    }
    .service {
        article a {
            flex-wrap: wrap;
            padding: 20px 0;
        }

        article h3 {
            width: 100%;
            min-width: 100%;
            margin-bottom: 10px;
        }

        article p:last-child {
            margin-left: 20px;
        }
    }
    summary h3 {
        font-size: 16px;
    }

    .section-first_404 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section-404_right {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}


@media screen and (max-width: 500px) {
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (2000 - 320)));
    }
    .article-item--images {
        height: 320px !important;
    }
    .wrapper-body_top, .wrapper-body_bottom {
        .item {width: 100% !important;}
    }
    footer .footer-info ul {
        justify-content: space-between;

        li {
            margin: 0;
        }
    }
    footer .footer-info > div a {
        font-size: 38px;
    }

    footer .footer-info > div {
        margin: 10px 0 20px;
    }
    footer .footer-info {
        width: 50%;
        margin: 20px 0;
    }
    .footer-bottom {
        padding: 30px 0;
    }
}

@media screen and (max-width: 450px) {
    .first-section-wrapper h1 {
        font-size: calc(41px + (178 - 41) * ((100vw - 320px) / (3000 - 320)));
    }
}

@media screen and (max-width: 400px) {
    .first-section-wrapper h1 {
        font-size: 42px
    }
}

@media screen and (max-width: 370px) {
    .first-section-wrapper h1 {
        font-size: 40px
    }
}

@media screen and (max-width: 360px) {
    .first-section-wrapper h1 {
        font-size: 38px
    }
}

@media screen and (max-width: 350px) {
    .first-section-wrapper h1 {
        font-size: 36px
    }
}